<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @font-face {
            font-family: proxima_soft_thin;
            src: url("assets/font/ProximaSoft-Thin.ttf");
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inclure le lien vers votre fichier CSS -->
    <link rel="stylesheet" href="assets/css/back_office.css">
    <title>Document</title>
</head>
<body>
    <main id="container">
        <aside id="aside_bar">
            <nav id="nav_left">
                <ul>
                    <li>
                        <a href="#">
                            <img src="assets/icon/layer-minus.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/icon/admin-alt.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main id="right">
            <nav id="nav_right">
                <ul>
                    <li>
                        <a href="#">
                            <img src="assets/icon/envelopes.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <hr>
        </main>
    </main>
</body>
</html>