<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @font-face {
            font-family: proxima_soft_thin;
            src: url("assets/font/ProximaSoft-Thin.ttf");
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/icon/icons8-i-others/icons8-i-100.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/back_office.css">
    <title>BACKOFFICE</title>
</head>
<body>
    <main id="container">
        <%- include('../partials/backoffice/BO_sidebar') -%>
        <main id="right">
            <nav id="nav_right">
                <ul>
                    <li>
                        <a href="#">
                            <img src="assets/icon/envelopes.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <hr>
            <%- include('../partials/backoffice/main_BO_my_skills') -%>
        </main>
    </main>
</body>
</html>