<header>
    <nav>
        <ul>
            <li>
                <a href="/">Who am I?</a>
            </li>
            <li>
                <a href="my_skills">My Skills</a>
            </li>
            <li>
                <a href="my_projects">My Projects</a>
            </li>
            <li>
                <a href="#">My Contacts</a>
            </li>
        </ul>
    </nav>
</header>