<header>
    <nav>
        <ul>
            <li>
                <a href="/">Who am I?</a>
            </li>
            <li>
                <a href="my_skills">My Skills</a>
            </li>
            <li>
                <a href="my_projects">My Projects</a>
            </li>
            <li>
                <a href="my_contacts">My Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <img src="assets/icon/icons8-circled-menu-color/icons8-circled-menu-100.png" alt="">
    </div>
    <div class="nav">
        <ul>
            <li>
                <a href="/">Who am I?</a>
            </li>
            <li>
                <a href="my_skills">My Skills</a>
            </li>
            <li>
                <a href="my_projects">My Projects</a>
            </li>
            <li>
                <a href="my_contacts">My Contacts</a>
            </li>
        </ul>
    </div>
</header>