<header>
    <nav>
        <ul>
            <li>
                <a href="/">Who am I?</a>
            </li>
            <li>
                <a href="my-skills">My Skills</a>
            </li>
            <li>
                <a href="my-projects">My Projects</a>
            </li>
            <li>
                <a href="my-contacts">My Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="menu">
        <img src="assets/icon/icons8-menu-color/icons8-menu-480.png" alt="" id="toggleBtn">
    </div>
</header>
<div class="nav" id="navResponsive">
    <ul>
        <li>
            <a href="/">Who am I?</a>
        </li>
        <li>
            <a href="my-skills">My Skills</a>
        </li>
        <li>
            <a href="my-projects">My Projects</a>
        </li>
        <li>
            <a href="my-contacts">My Contacts</a>
        </li>
    </ul>
</div>