<div class="left my_projects">
    <p class="title">
        My Projects
    </p>
    <div class="list_project">

        <% documents.forEach( item => { %>
        
            <div class="project">
                
                <video src="<%- item.movie_file_url -%>" autoplay loop controls></video>
            
            </div>
            
        <% }); %>

    </div>
    <button>See more</button>
</div>