<div class="left my_projects">
    <p class="title">
        My Projects
    </p>
    <div class="list_project">

        <% documents.forEach( item => { %>
        
            <div class="project">
                
                <video src="<%- item.movie_file_url -%>" autoplay loop controls></video>

                <div class="project_action">
                
                    <span class="project_name">project name</span>


                    <div class="images_link">

                        <a href="<%- item.git_hub_url -%>" target="_blank"  title="Github source link">

                            <img src="assets/icon/icons8-github-material-rounded/icons8-github-100.png" alt="">

                        </a>

                        <a href="" title="More info about the project">

                            <img src="assets/icon/icons8-info-color/icons8-info-100.png" alt="">

                        </a>

                    </div>

                    <a href="<%- item.host_url -%>" target="_blank">
                        <button class="live_demo">Watch live</button>
                    </a>

                </div>
            
            </div>
            
        <% }); %>

    </div>
    <button>See more</button>
</div>