<div class="my_contacts">
    <p class="title">
        My Contacts
    </p>
    <div class="list_contact">
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-linkedin-color/icons8-linkedin-100.png" alt="">
                <label for="contact">My name on LinkedIn</label>
            </div>
        </a>
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-gmail-color/icons8-gmail-100.png" alt="">
                <label for="contact">ialyfrancisco7@gmail.com</label>
            </div>
        </a>
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-github-material-rounded/icons8-github-100.png" alt="">
                <label for="contact">My name on GitHub</label>
            </div>
        </a>
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-iphone-14-windows-11-color/icons8-iphone-14-100.png" alt="">
                <label for="contact">+261 34 47 635 78</label>
            </div>
        </a>
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-facebook-color/icons8-facebook-100.png" alt="">
                <label for="contact">Buffalo Buffalo</label>
            </div>
        </a>
        <a href="https://facebook.com">
            <div class="contact">
                <img src="assets/icon/icons8-curriculum-vitae-color/icons8-curriculum-vitae-100.png" alt="">
                <label for="contact">Mon CV</label>
            </div>
        </a>
    </div>
</div>