<div class="left text">
    <p class="title">
        Who am I?
    </p>
    <p class="Lorem">
        My name is <span class="important_word" style="font-size: 30px;" title="Nom de IALY 😀">IALY</span>. Computer Science student in the Software Engineering track. I am able to develop cross-platform applications (Web and mobile: android and ios) in
        using the technologies you will see in the <span class="important_word"><a href="my-skills">My Skills</a></span> tab. Being passionate in the world of web development, there is in me a great consideration and love of
        Every line of code in my projects. Crossing my limits is one of my favorite <span class="important_word">challenges</span>, which encourages me to be eager for new technologies and new knowledge.
        My only flaw is that I'm too precise, even a one-pixel mess in my interface could make me uncomfortable.<span class="important_word"> "UX and UI is the basis of everything" is my philosophy.</span>
        My hobbies? I love <span class="important_word">playing basketball</span>, it's a team game that requires team spirit in order to be successful. <span class="important_word">Video games</span> too, getting lost in a world
        New and then fend for myself in the face of obstacles, which is often my case in web development. My favorite instrument is the <span class="important_word">guitar</span>, it allows me all the time 
        to try new things, out of the ordinary but normal while preserving the chords between the different notes.  If you have a proposal for me, a kind of 
        Collaboration or some kind of exchange of ideas I am very open to everyone, do not hesitate to contact me with one of my contacts that you will see in the <span class="important_word"><a href="my-contacts">My Contacts</a></span> tab.
        I would always see your messages. Thank you 😉.
    </p>
    <button>See more</button>
</div>