<div class="left my_skills">
    <p class="title">
        My Skills
    </p>
    <div class="skill">
        <img src="assets/icon/icons8-angular-color/icons8-angular-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill">
        <img src="assets/icon/icons8-javascript-color/icons8-javascript-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill">
        <img src="assets/icon/icons8-c-sharp-logo-windows-11-color/icons8-c-sharp-logo-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill">
        <img src="assets/icon/icons8-python-windows-11-color/icons8-python-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill">
        <img src="assets/icon/icons8-symfony-color/icons8-symfony-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill">
        <img src="assets/icon/icons8-vue-js-color/icons8-vue-js-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <button>See more</button>
</div>