<div class="left my_skills">
    <p class="title">
        My Skills
    </p>
    <div class="skill" id="JS">
        <img src="assets/icon/icons8-javascript-color/icons8-javascript-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill" id="ANGULAR">
        <img src="assets/icon/icons8-angular-color/icons8-angular-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill" id="VUE">
        <img src="assets/icon/icons8-vue-js-color/icons8-vue-js-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill" id="MONGODB">
        <img src="assets/icon/icons8-mongodb-a-cross-platform-document-oriented-database-program-color/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
    <div class="skill" id="NODE">
        <img src="assets/icon/icons8-nodejs-color/icons8-nodejs-100.png" alt="logo" title="logo">
        <div class="jauge"></div>
    </div>
</div>