<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @font-face {
            font-family: proxima_soft_thin;
            src: url("assets/font/ProximaSoft-Thin.ttf");
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/my-contacts.css">
    <link rel="shortcut icon" href="assets/icon/icons8-i-others/icons8-i-100.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts | PORTFOLIO</title>
</head>
<body>
    <%- include("header") %>
    <script>
        document.getElementById('toggleBtn').addEventListener('click', (event) => {
            document.getElementById('navResponsive').classList.toggle('active');
        })
    </script> 
    <main>
        <%- include("main_my_contacts") %>
    </main>
</body>
</html>