<aside id="aside_bar">
    <nav id="nav_left">
        <ul>
            <li>
                <a href="#/BO_who_am_i">
                    <img src="assets/icon/layer-minus.png" alt="who am i icon" title="who am i?">
                </a>
            </li>
            <li>
                <a href="BO_my_skills">
                    <img src="assets/icon/admin-alt.png" alt="my skills icon" title="my skills">
                </a>
            </li>
        </ul>
    </nav>
</aside>