<aside id="aside_bar">
    <nav id="nav_left">
        <ul>
            <li>
                <a href="backoffice">
                    <img src="assets/icon/projects.png" alt="projects" title="projects">
                </a>
            </li>
            <li>
                <a href="backoffice-my-skills">
                    <img src="assets/icon/skills.png" alt="my skills icon" title="skills">
                </a>
            </li>
        </ul>
    </nav>
</aside>