<aside id="aside_bar">
    <nav id="nav_left">
        <ul>
            <li>
                <a href="back_office">
                    <img src="assets/icon/projects.png" alt="projects" title="projects">
                </a>
            </li>
            <li>
                <a href="BO_my_skills">
                    <img src="assets/icon/admin-alt.png" alt="my skills icon" title="my skills">
                </a>
            </li>
        </ul>
    </nav>
</aside>