<div id="container_BO_my_skills">
    <div class="action">
        <h1 class="title">All projects</h1>
        <button>Add project</button>
    </div>
    <div class="statistics">
        <ul class="statistic">
        <li><span class="number">16</span> projects</li>|
        <li><span class="number">6</span> en cours</li>|
        <li><span class="number">10</span> finis</li>
        </ul>
        <ul class="filters">
            <select name="filter" id="filter">
                <option value="all">All projects</option>
                <option value="encours">En cours</option>
                <option value="finis">Done</option>
            </select>
            <input type="search" name="project search" id="projectsearch" placeholder="Search a project">
        </ul>
    </div>
</div>